[Unit]
Description=Celery Beat Scheduler
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
User=rocky
Group=rocky
EnvironmentFile=/opt/django/.env
WorkingDirectory=/opt/django/api/src
ExecStart=/opt/django/api/.venv/bin/celery -A config beat -l INFO --pidfile=/run/celery/beat.pid
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
