[Unit]
Description=Gunicorn
After=network.target

[Service]
User=rocky
Group=rocky
WorkingDirectory=/opt/django/api/src
Environment="DJANGO_SETTINGS_MODULE=config.settings"
Environment="DJANGO_DEBUG=false"
ExecStart=/opt/django/api/.venv/bin/gunicorn \
  config.wsgi:application \
  --bind 0.0.0.0:8000 \
  --workers 3 --timeout 120
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
